:local {
    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        border: 1px #ccc solid;
        width: 100px;
    }

    .input {
        flex: 1 1 auto;
        border: none;
        padding: 5px 10px;
        min-width: 20px;
    }

    .spinner {
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 20px;
    }

    .buttonUp,
    .buttonDown {
        flex: 1 1 50%;
        padding: 0;
        border: none;
        background: #ccc;
    }
}
