:local {
    .wrapper {

    }

    .controls {

    }

    .simulate {

    }

    .autosim {

    }

    .autosimTitle {

    }

    .summary {
        height: 200px;
        overflow: auto;
    }

    .setup {

    }
}
