:local {
    .wrapper {
        margin: 0;
        padding: 0;
    }

    .add {
        width: 100%;
        height: 35px;
        border: none;
        background: #ccc;
    }

    .remove {
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        background: #ccc;
        height: 30px;
        padding: 0 10px;
    }

    .ship {
        position: relative;
        list-style: none;
        margin-top: 10px;
    }
}
