:local {
    .wrapper {
        border: 1px #eee solid;
        border-radius: 3px;
    }

    .head {
        padding: 10px;
        background: #eee;
    }

    .stats {
        display: flex;
        flex-flow: row wrap;
        padding: 10px;
        font-size: 12px
    }

    .stat {
        flex: 1 1 100px;
        min-width: 100px;


        & > div {
            width: 100%;
        }
    }
}
