:local {
    .wrapper {
        background: #fff;
        border: none;
        border-radius: 10px;
        overflow: hidden;
    }

    .head {
        padding: 10px;
        background: #eee;
    }

    .stats {
        display: flex;
        flex-flow: row wrap;
        padding: 10px;
        font-size: 12px
    }

    .stat {
        flex: 1 1 100px;
        min-width: 100px;


        & > div {
            width: 100%;
        }
    }
}
