:local {
    .wrapper {

    }

    .head {
        position: relative;
        margin-bottom: 10px;
    }

    .headLeft,
    .headRight {
        display: inline-block;
    }

    .headRight {
        position: absolute;
        top: 0;
        right: 0;
    }

    .title {
        display: inline-block;
        margin-right: 10px;
    }
}
